.changepass_section {
    position: relative;
    margin-top: 170px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    max-width: 560px;
    border: none;
    margin-bottom: 130px;
    padding: 30px;
    box-shadow: 3px 10px 22px 10px rgb(43, 43, 41);
    background-color: rgba(255, 255, 255, 0.872);
}

.change_pass {
    position: relative;
    padding-top: 5px;
    height: 110vh;
    padding-bottom: 0px;
    margin-bottom: -180px;
    background-image: url(password4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.changepass_headding {
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
    margin-top: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(36, 35, 35);
}

.changepass-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    color: #080808;
    background-color: transparent;
    border: 1.3px solid #363636;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    box-sizing: border-box;
}

.changepass-input:focus {
    background-color: transparent;
    outline: 0;
    border: 1.3px solid rgba(23, 189, 11, 0.966);
    border-radius: 10px;
    color: rgb(31, 30, 30);
}

.changepass_button {
    margin-top: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.2s;
}

.changepass_button:hover {
    background-color: #2980b9;
}