.close_button_add {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 35px;
    height: 35px;
    font-size: 17px;
}

.edit_main{
    font-family: Arial, sans-serif;
    margin-top: 0px;
}

.profile-container_edt {
    max-width: 600px;
    margin: 20px auto;
    background: linear-gradient(0deg, rgb(116, 128, 255)  0%, rgb(227, 255, 115) 100%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.594);
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.profile-picture_edt {
    width: 100px;
    height: 100px;
    border-radius: 0%;
    margin-bottom: 5px;
    object-fit: cover;
    border: 1px solid #060605;
}

.image_file_up{
    margin-bottom: 8px;
    position: relative;
    left: 15.6%;
    color: #24241f;
    /* border: 1px solid#060605; */
    background-color: transparent;
}

.user-infott {
    text-align: center;
    width: 100%;
}

.user-name-inputt {
    font-size: 15px;
    font-weight: 700;
    color: #2c0512;
    text-transform: uppercase;
    text-align: center;
    background: #ecf0f3;
    border: none;
    padding: 0px 0px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-sizing: border-box;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
    border-inline: 1px solid transparent;
    margin-bottom: 7px;
}

.user-contact_ed {
    position: relative;
    width: 100%;
    margin-top: 20px;
    color: #444;
    display: grid;
    overflow: hidden;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: start;
    margin-left: 14%;
}

.user-number-inputo{
    color: #2c0512;
    margin-top: 8px;
    text-transform: uppercase;
    background: #ecf0f3;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-sizing: border-box;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
    border-inline: 1px solid transparent;
}

.submit_buttn {
    text-decoration: none;
    background-color: #1f3cce;
    color: #fff;
    border: none;
    margin-top: 30px;
    border-radius: 5px;
    padding: 6px 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
    text-align: center;
}

.submit_buttn:hover {
    background-color: #120a7d;
}