.comp {
    position: relative;
    top: 160px;
    left: 15px;   
    margin-bottom: 0px;
    justify-content: space-evenly;
    display: inline-flex;
}

.pass_details_main {
    position: relative;
    max-width: 380px;
    width: 100%;
    padding: 25px;
    border-radius: 4px;
    box-shadow: 0 0 15px rgba(7, 2, 2, 0.45);
}

.pass_details_main header {
    font-size: 1.2rem;
    color: #000;
    font-weight: 600;
    text-align: center;
}

.pass_details_main .form {
    margin-top: 15px;
}

.form_pass .input-box {
    width: 100%;
    margin-top: 10px;
}

.input_box_pass label {
    color: #000;
}

.form_pass :where(.input-box .input-in, .select-box) {
    position: relative;
    height: 35px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #808080;
    margin-top: 5px;
    border: 1px solid #b934ee;
    border-radius: 6px;
    padding: 0 15px;
    background: transparent;
    text-transform: capitalize;
}

.input_box_pass input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form_pass .column {
    display: flex;
    column-gap: 15px;
}

.form_pass .gender-box {
    margin-top: 10px;
}

.form_pass :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
    position: relative;
    top: 4px;
}

.form_pass .gender {
    column-gap: 5px;
}

.gender input {
    accent-color: #b934ee;
}

.form_pass :where(.gender input, .gender label) {
    cursor: pointer;
}

.input-box label {
    color: #000;
    position: relative;
    top: 3px;
}

.pass_butn{
    position: relative;
    top: 150px;
    padding: 6px 12px;
    color: #fbfbfb;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
    background: #b934ee;  
}

.pass_butn:hover{
    background: #9f28ce;    
}

.pass_head_d{
    position: relative;
    top: 130px;
    text-align: center;
    font-size: 28px;
    color: #000;
    font-weight: 600;
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}