.app_nav {
    background-color: #0c1d74dc;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    height: 110px;
}

.app_hed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
}

.app_foot {
    background-color: #160a5e;
    padding-top: 40px;
    padding-bottom: 10px;
    position: relative;
    top: 150px;
}

.no_pending {
    color: rgb(123, 120, 120);
    text-align: center;
    padding: 100px;
    font-size: 20px;
    font-weight: 600;
}

.approved_busses {
    margin-top: 140px;
    text-transform: capitalize;
    color: black;
}

.approved_bus_table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: -120px;
    color: #292525;
    text-transform: capitalize;
}

.approved_bus_table td {
    border: 1px solid #7b7b7b;
    padding: 8px;
    text-align: center;
}

.approved_bus_table th {
    border: 2px solid #939191;
    padding: 8px;
    text-align: center;
}

.approved_bus_table th:first-child {
    width: 65px;
}

.deleteey_button {
    background-color: rgb(204, 2, 2);
    border: none;
    height: 36px;
    width: 94px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

.deleteey_button:hover {
    background-color: rgb(164, 1, 1);
}

.approved_bus_tr td {
    border: none;
    text-align: left;
    padding: 2px;
    padding-right: 8px;
    text-transform: capitalize;
}

.loading-bar {
    position: relative;
    top: 90px;
    width: 210px;
    height: 110px;
    background: black;
    border: px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 111px;
    font-family: sans-serif;
    font-size: 15px;
    color: #fd9815;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 0 0 20px #fff000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin: 60px auto;
}

.loading-bar:before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 5px solid #fff000;
    border-right: 5px solid #fff000;
    border-radius: 50%;
    animation: animateC 2s linear infinite;
}

@keyframes animateC {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(405deg);
    }
}

@media screen and (max-width: 700px) {
    .approved_bus_table {
        overflow-x: auto;
        display: block;
    }
}