.offers {
    position: relative;
    width: 100%;
    background: #f3f3f9;
    padding-top: 20px;
    padding-bottom: 0;
    /* transition: cubic-bezier(0.23, 1, 0.320, 1); */
    transition: all .2s ease-in;
}

.offers_col {
    margin-bottom: 20px;
    /* transition: cubic-bezier(0.23, 1, 0.320, 1); */
    transition: all .2s ease-in;


}

.offers_image_container {
    width: 100%;
    height: 100%;
}

.offers_image_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.offer_name {
    /* position: absolute; */
    /* left: 0; */
    /* bottom: 14px; */
    margin-top: 10px;
    min-width: 100%;
    height: 20px;
    background: #990b81;
}

.offer_name_a {
    position: relative;
    top: -6px;
    display: block;
    font-size: 13px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    line-height: 33px;
    padding-left: 15px;
}


.offers_price {
    display: inline-block;
    font-size: 28px;
    font-weight: 700;
    color: #056c20;
    /* line-height: 25px; */
    margin-top: 0px;
    margin-bottom: 0px;
}

.offers_rating {
    margin-top: 10px;
}

.offers_rating i::before {
    font-size: 13px;
    margin-right: 2px;
}

.offers_text {
    font-size: 14px;
    font-weight: 400;
    color: #929191;
    margin-top: 2px;
    margin-bottom: 2px;
}

.offers_price span {
    font-size: 14px;
    font-weight: 400;
    color: #929191;
    margin-left: 12px;
}

.btnbooknow {
    background-color: greenyellow;
    border: none;
    padding: 5px 8px;
    margin-left: 0px;
    border-radius: 5px;
    cursor: pointer;
    color: #030303;
}

.btnbooknow:hover {
    background-color: rgb(134, 218, 7);
    color: #030303;
}

.not_available{
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    color: #8d0202;
    position: relative;
    left: 40%;
}