.bill_body {
    position: relative;
    top: 120px;
    box-sizing: inherit;
    display: grid;
    padding: 5vmin;
    place-items: center;  
}

.iphone {
    min-width: 400px;
    background-image: linear-gradient(to bottom, #9511b0a1 -70%, rgb(255, 255, 255));
    border-radius: 2em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.304);
    inline-size: 375px;
    overflow: auto;
    padding: 2em;
    color: black;
}

.button_bill {
    border: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
}

.pyment_method {
    border: 0;
    margin: 0;
    padding: 0;
}

.checkout_h1{
    text-align: center;
    line-height: 1.2;
    font-family: monospace;
    font-weight: 600;
    font-size: 19px;
    margin-bottom: 15px;
}

.pyment_method_sub{
    text-align: center;
    font-weight: 600;
    margin-block-end: 0.5em;
    font-size: 1.6rem;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pay_type_input{
    border: 0;
    color: inherit;
    font: inherit;
    accent-color: #c0236c;
    cursor: pointer;
}

.button_bill{
    align-items: center;
    background-color: #fc8080;
    border-radius: 999em;
    color: #fff;
    display: flex;
    gap: 0.5em;
    justify-content: center;
    padding-block: 0.75em;
    padding-inline: 1em;
    transition: 0.3s;
    inline-size: 100%;
}

.button_bill:focus,
.button_bill:hover {
    background-color: #e96363;
    inline-size: 100%;
}

.form_check {
    display: grid;
    gap: 2em;
}

.form__radios {
    display: grid;
    gap: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form__radio {
    align-items: center;
    background-color: #fefdfe;
    border-radius: 1em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.0625);
    display: flex;
    padding: 1em;
}

.form__radio label {
    align-items: center;
    display: flex;
    flex: 1;
    gap: 1em;
}

.checkout {
    display: flex;
    justify-content: center;
    padding-block: 0.5em;
    padding-inline: 1em;
}

.icon {
    block-size: 1em;
    display: inline-block;
    fill: currentColor;
    inline-size: 1em;
    vertical-align: middle;
}

.icons {
    display: inline-block;
    fill: currentColor;
    height: 30px;
    width: 30px;
    vertical-align: middle;
}

.qr_pay_ty{
    position: relative;
    left: 40px;
}